.olaSou{
  line-height: 60px;
  margin-left: 2%;
  font-family: Belanosima;
  font-size: 56px;
    
}
  
.olaSouCss{
  margin-top: 10%;
}
  
.nomeCss{
  color: #08649c;
  font-size: 70px;
}
  
.imgPagInicial{
  float: right;
  width: 30%;
  height: auto;
}
  
.buttonCss {
  width: 250px;
  height: 50px;
  font-size: 30px;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
}