:root {
    font-family: 'Fira Code', monospace;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .olaSou{
    line-height: 60px;
    margin-left: 2%;
    font-family: Belanosima;
    font-size: 56px;
    
  }
  
  .olaSouCss{
    margin-top: 10%;
  }
  
  .nomeCss{
    color: #08649c;
    font-size: 70px;
  }
  
  .imgPagInicial{
    float: right;
    width: 30%;
    height: auto;
  }
  