.header{
    width: 100%;
    height: 70px;
    display: block;
    background-color: #08649c;
}

.limitadorHeader{
    width: 1200px;
    height: 50%;
    background-color: #08649c;
    display: block;
    margin: 0 auto;
}

.imgLogo{
    width: 5%;
    margin-right: 3px;
}

.logo p{
    font-family: Belanosima;
    font-size: 25px;
    text-decoration: none;
    color: white;
    height: 100%;
    /*display: table-cell;*/
}

.logo{
    /*height: 50%;*/
    align-items: center; 
    vertical-align: middle;
    /*text-align: center;*/
}

.categorias{
    float: right;
    height: 100%;
}

.categorias p{
    height: 100%;
    display: table;
    float: left;
    padding: 0 20px;
    text-decoration: none;
}

.categorias p li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-size: 16px;
}